@import "tlp-colors.css";

body{
	/* This looks ugly, but a darker background is necessary for the official TPL:CLEAR color */
	background-color:#808080;
	width:100%;
	margin:0;
	margin-top:7px;
}
hr{
	color:#212121;
	width:100%;
	position:fixed;
	top:12px;
	z-index:-1;
	height:1.5px;
	background-color:#212121;
}
.tl-container{
	width:50%;
	margin:auto;
	text-align:center;
}
.traffic-light{
	background-color:#212121;
	display:inline-block;
	padding: 3px 1px;
	border-radius:10px;
}
.hint{
	font-size:14px;
	display:inline-block;
	margin:auto;
	padding-top:7px;
}

.tlp-badge{
	display: inline-block;
	min-width: 10px;
	min-height: 18px;
	max-width:10px;
	max-height:18px;
	padding: 3px 7px;
	font-size: 12px;
	color: #ffffff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	margin-left:1.5px;
	margin-right:1.5px;
}
.tlp-red{
	background-color: var(--tlp-red);
	margin-left:3px;
}
.tlp-amber{
	background-color: var(--tlp-amber);
}
.tlp-green{
	background-color: var(--tlp-green);
}
.tlp-white{
	background-color: var(--tlp-white);
}
.tlp-none{
	background-color:white;
	overflow: hidden;
	margin-right:3px;
}
.sign-none{
	color: #E03C31;
	font-size:32px;
	position:relative;
	top:-5px;
	left:-8px;
	font-weight: bold;
}
#legend-red{
	color: var(--tlp-red);
}
#legend-amber{
	color: var(--tlp-amber);
}
#legend-green{
	color: var(--tlp-green);
}
#legend-white{
	color: var(--tlp-white);
}
.legend-text{
	font-size: 13px;
}